@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body{
    
    margin: 0;
    padding: 0;
    background: url("https://static.vecteezy.com/system/resources/previews/000/651/810/large_2x/vector-videogame-cartoons-pattern-background.jpg") no-repeat center top; 
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
           

}

.usuario{
    width: 80%;
    height: 600px;
    background-color: lightblue;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px 30px;
    margin-top: 94px;
        
}

.usuario h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    text-align: center;
}

#menu { margin:40px 0 0 87px; }
#menu ul { list-style:none; }
#menu ul li { display:inline; float:left; margin-bottom:20px; }


#menu ul li a { padding:20px; background: rgba(255,138,30,0.3); 
                text-decoration: none; 
                font: bold 20px Helvetica, Sans-Serif; 
                letter-spacing: -1px; 
                color: white;
                text-shadow: #eee 0px 0px 10px; }

#menu ul li:first-child a { -moz-border-radius-topleft: 12px; -webkit-border-top-left-radius:12px; }

#menu ul li:last-child a { -moz-border-radius-topright: 12px; -webkit-border-top-right-radius:12px; }

#menu ul li a:hover { -moz-box-shadow: 0 -5px 10px #777; -webkit-box-shadow: 0 -5px 10px #777;
                      background: -webkit-gradient(
                          linear, right bottom, left top, color-stop(0, rgb(237,227,112)), color-stop(0.72, rgb(255,173,10))) !important;
                      background: -moz-linear-gradient(
                          right bottom, rgb(237,227,112) 0%, rgb(255,173,10) 72%) !important;
                      background-color:rgb(255,173,10) !important;
                      -moz-opacity:.90; filter:alpha(opacity=90); opacity:.90; }

#menu ul li a.active { background: blue !important; }

.rainbow{
  background-color: #AEF9ED;
  border-radius: 5px;  
  color: blue;
  cursor: pointer;
  margin: 09px;
  display: inline-block;
  margin-left: 0px;
  padding: 06px 45px;
}

.rainbow-1:hover{
   background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
   animation:slidebg 2s linear infinite;

}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}


.datable-container{
    font-family: 'Noto Sans', sans-serif;
    background-color: #2a3338;
    border-radius: 3px;
    color:white;
    width: 900px;
    margin: 0 auto;
    font-size: 12px;
   
}

.datable-container .header-tools{
    border-bottom: solid 1px rgb(61, 68, 73);
    padding: 12px;
    display: flex;
    align-items: baseline;
}

.datable-container .header-tools .search{
    width: 30%;
}

.datable-container .header-tools .search .search-input{
    width: 100%;
    background-color: rgb(61, 68, 73);
    display: block;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 1px rgb(61, 68, 73);
    color: white;
}

.datable-container .header-tools .tools{
    width: 70%;
}

.datable-container .header-tools .tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: start;*/
    align-items: baseline;
}

.datable-container .header-tools .tools ul li{
    display: inline-block;
    margin: 0 2px;
    align-items: baseline;
}

.datable-container .footer-tools{
    padding: 12px;
    display: flex;
    align-items: baseline;
}

.datable-container .footer-tools .list-items{
    width: 50%;
}

.datable-container .footer-tools .pages{
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

.datable-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.datable-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 2px;
}

.datable-container .footer-tools .pages ul li button,
.datable-container .header-tools .tools ul li button{
    color: white;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
}

.datable-container .footer-tools .pages ul li button:hover,
.datable-container .header-tools .tools ul li button:hover{
    background: #3282b8;
    color: white;
}

.datable-container .footer-tools .pages ul li span.active{
    background-color: #3282b8;
    border-radius: 3px;
}

.datable-container .footer-tools .pages ul li button,
.datable-container .footer-tools .pages ul li span,
.datable-container .header-tools .tools ul li button{
    padding: 6px 12px;
    border-radius: 3px;
}

.datable-container .datable{
    border-collapse: collapse;
    width: 100%;
}

.datable-container .datable,
.datable-container .datable th,
.datable-container .datable td{
    padding: 12px 12px;
}

.datable-container .datable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px rgb(61, 68, 73);
}

.datable-container .datable td{
    border-bottom: solid 1px rgb(61, 68, 73);
}

.datable-container .datable tbody tr:nth-child(even){
    background-color: rgb(61, 68, 73);
}

.datable-container .datable tbody tr:hover{
    background-color: #3282b8;
}

nav {
  width: 200px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(24px at 32px 24px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  margin-top: -250px;
  margin-left: -27px;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

.nav {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav :hover { background: lightblue; }

.nav :active { background: lightblue; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }

.boton input[type="submit"]{
  border: none;
  outline: none;
  height: 45px;
  width: 200px;
  background: #AEF9ED;
  font-size: 15px;
  border-radius: 23px;
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover { background: lightblue; }

a:active { background: #ffca28; }
